@import "helper/reset";
@import "helper/flexbox";
@import "helper/mixin";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  width: 100%;
  height: 100%;
}

$color: rgb(2, 145, 218);

.wrap{

}

.content{
  max-width: 1210px;
  margin: 0 auto;
  position: relative;
  padding: 0 20px;
}

header{
  padding: 40px 0;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 9px 1px rgba(0, 0, 0, 0.4);
  z-index: 1;
  position: relative;
  ul{
    float: right;
    margin-top: 20px;

    li{
      display: inline-block;
      margin-right: 40px;

      &:last-child{
        margin-right: 0;
      }

      a{
        color: rgb(30, 30, 30);
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
      }

      &.active{
        a{
          color: rgb(2, 145, 218);
          font-weight: 700;
        }
      }

      &.changeLang{
        color: rgb(2, 145, 218);
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        cursor: pointer;

        i{
          font-size: 12px;
          position: relative;
          top: -2px;
          margin-left: 3px;
        }

        ul.lang{
          position: absolute;
          top: 20px;
          display: none;

          li{
            margin-bottom: 5px;
            color: black;
            font-weight: 400;

            &:hover{
              color: $color;
            }
          }
        }
      }
    }
  }
}

main{
  position: relative;
}

.top-box{
  background: black;
  position: relative;
  .item{
    padding-top: 100px;
    padding-bottom: 170px;
    .content{
      padding-right: 40%;

      &>*{
        position: relative;
        z-index: 2;
      }
    }

    .mini-title{
      color: rgb(244, 245, 249);
      font-size: 24px;
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 15px;
    }

    .title{
      color: rgb(244, 245, 249);
      font-size: 72px;
      font-weight: 700;
      margin-bottom: 100px;
      position: relative;

      &:after{
        width: 80px;
        height: 1px;
        background: rgb(241, 235, 231);
        left: 0;
        bottom: -50px;
        content: '';
        position: absolute;
      }
    }

    .text{
      color: rgb(255, 255, 255);
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 40px;
      line-height: 1.3;
    }
  }
}

.btn-main{
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.25);
  background-color: rgb(2, 145, 218);
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  padding: 15px 70px;
  border: 2px solid transparent;

  &:hover{
    background: white;
    color: $color;
    border: 2px solid $color;
  }
}

.content-absolute{
  width: 1210px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -605px;
  padding-top: 300px;
  z-index: 1;


  .rulles{
    float: right;
    text-align: right;

    ul{
      margin-bottom: 30px;
      li{
        color: rgb(255, 255, 255);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        text-align: right;

        &.active{
          font-weight: 700;
        }
      }
    }

    a{
      display: inline-block;
      width: 45px;
      height: 45px;
      background: #727272;
      font-size: 20px;
      color: rgb(48, 48, 48);
      text-align: center;
      line-height: 45px;
      margin-left: 20px;

      &:hover{
        background-color: rgb(2, 145, 218);
        color: white;
      }
    }
  }
}

.trio{
  height: 136px;
  background: url("../img/trio.png") no-repeat center top/cover;
  width: 100%;
  position: absolute;
  margin-top: -136px;
}

.about{
  .title{
    margin-bottom: 35px;
    color: rgb(37, 54, 93);
    font-size: 24px;
    font-weight: 700;
    padding: 0 80px;
  }

  .text{
    color: rgb(90, 90, 90);
    font-size: 14px;
    font-weight: 400;
    // Text style for ","
    line-height: 1.65;
    padding: 0 80px;

    ul{
      li{
        padding-left: 20px;
        background: url("../img/bullet.png") no-repeat left 5px;
      }
    }
  }
}

.tabs{
  position: relative;
  padding: 50px 0;

  &:before{
    background-color: rgb(32, 32, 32);
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  &:after{
    background: url("../img/stok.png") no-repeat center center/cover;
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }

  .head{
    margin-bottom: 100px;
    a{
      color: rgb(255, 255, 255);
      font-size: 18px;
      font-weight: 400;
      line-height: 1.61;
      text-transform: uppercase;
      margin-right: 50px;

      &.active{
        color: rgb(2, 145, 218);
        font-size: 18px;
        font-weight: 700;
        line-height: 1.61;
        text-transform: uppercase;
      }
    }
  }

  .body{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;

    p{
      margin-bottom: 20px;
    }
  }
}

.partner{
  padding: 115px 0;
  background-color: rgb(244, 245, 249);

  .title{
    text-shadow: 0 1px 0 rgb(255, 255, 255);
    color: rgb(37, 54, 93);
    font-size: 30px;
    font-weight: 700;
    line-height: 0.67;
    text-align: center;
    position: relative;
    margin-bottom: 125px;

    &:before{
      width: 80px;
      height: 2px;
      background: rgb(153, 153, 153);
      content: '';
      position: absolute;
      left: 50%;
      margin-left: -100px;
      bottom: -50px;
    }

    &:after{
      width: 80px;
      height: 2px;
      background: rgb(153, 153, 153);
      content: '';
      position: absolute;
      right: 50%;
      margin-right: -100px;
      bottom: -50px;
    }
  }

  .items{
    .item{
      width: calc(20% - 24px);
      float: left;
      margin-right: 30px;
      height: 100px;
      box-shadow: 0 1px 3px rgba(31, 31, 31, 0.09);
      background-color: rgb(255, 255, 255);
      margin-bottom: 30px;
      @include flexbox;
      @include align-items(center);
      @include justify-content(center);

      &:hover{
        box-shadow: 0 3px 9px 1px rgba(31, 31, 31, 0.2);
      }

      &:nth-child(5n+5){
        margin-right: 0;
      }
    }
  }
}

section.contact{
  @extend .partner;
  background: transparent;

  .box-text{
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    background-color: rgb(244, 245, 249);
    padding: 60px 90px 90px;

    .name{
      color: rgb(5, 146, 218);
      font-size: 24px;
      font-weight: 400;
      margin-bottom: 20px;
      margin-top: 30px;
    }

    .text{
      padding-left: 23px;
      color: rgb(90, 90, 90);
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 5px;
      line-height: 1.4;

      &.icon-marker{
        background: url("../img/marker.png") no-repeat left 5px;
      }

      &.icon-mobile{
        background: url("../img/call-answer.png") no-repeat left 5px;
      }

      &.icon-phone{
        background: url("../img/fax.png") no-repeat left 5px;
      }
    }
  }

  .box-form{
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    background-color: rgb(244, 245, 249);
    padding: 90px;

    form{
      width: 100%;

      input{
        width: 100%;
        border-bottom: 1px solid rgba(153, 153, 153, .25);
        height: 40px;
        margin-bottom: 20px;
        color: rgb(153, 153, 153);
        font-size: 14px;
        font-weight: 400;
        line-height: 1.71;
      }

      textarea{
        width: 100%;
        border: 0;
        resize: none;
        background: transparent;
        border-bottom: 1px solid rgba(153, 153, 153, .25);
        height: 120px;
        margin-bottom: 20px;
        color: rgb(153, 153, 153);
        font-size: 14px;
        font-weight: 400;
        line-height: 1.71;
      }
    }
  }
}

footer{
  background-color: rgb(32, 32, 32);
  padding: 50px 0;

  .head{
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 400;
    line-height: 2;
    text-transform: uppercase;
    // Text style for "Контакты"
    letter-spacing: 1.2px;
    position: relative;
    margin-bottom: 60px;

    &:after{
      width: 154px;
      height: 1px;
      background-color: rgb(59, 59, 59);
      content: '';
      position: absolute;
      left: 0;
      bottom: -10px;
    }
  }

  .text{
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 40px;

    a{
      color: rgb(255, 255, 255);
      font-size: 14px;
      font-weight: 400;
      line-height: 1.4;
      display: block;

      &:hover{
        color: $color;
      }
    }

    &.big-text{
      margin-top: 85px;

      a{
        color: rgb(255, 255, 255);
        font-size: 16px;
        font-weight: 400;
        text-decoration: underline;
        text-transform: uppercase;
        margin-bottom: 20px;

        &:hover{
          color: $color;
        }
      }
    }
  }
}

main.gray{
  background-color: #f4f5f9;
}

.mobile-menu{
  position: absolute;
  top: 10px;
  right: 40px;
  color: $color;
  display: none;
  z-index: 5;

  &.active{
    color: white;
  }
}

.news-box{
  padding: 50px 0;
  .item{
    width: calc(25% - 24px);
    float: left;
    background-color: #ffffff;
    height: 365px;
    margin-right: 30px;
    text-align: center;
    margin-bottom: 30px;
    position: relative;

    &:nth-child(4n+4){
      margin-right: 0;
    }

    .img{
      height: 237px;
      margin-bottom: 10px;

      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .name{
      color: rgb(30, 30, 30);
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 10px;
      padding: 0 20px;
    }

    .intro{
      color: rgb(30, 30, 30);
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 10px;
      padding: 0 50px;
    }

    a{
      color: rgb(2, 145, 218);
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 20px;
    }

    .date{
      width: 70px;
      height: 23px;
      background-color: rgb(2, 145, 218);
      position: absolute;
      top: 10px;
      left: 0;
      z-index: 0;
      color: rgb(255, 254, 254);
      font-size: 12px;
      font-weight: 400;
      text-align: center;
      line-height: 23px;
    }
  }
}

.pages{
  padding-bottom: 50px;
  a{
    width: 45px;
    height: 45px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    line-height: 45px;
    font-size: 21px;
    color: rgb(48, 48, 48);
    display: inline-block;
    margin: 0 15px;

    &:hover{
      background-color: rgb(2, 145, 218);
      color: white;
    }
  }
}

.slider-left{
  width: 45px;
  height: 45px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  line-height: 45px;
  font-size: 21px;
  color: rgb(48, 48, 48);
  display: inline-block;
  margin: 0 15px;
  opacity: 0.5;
  position: absolute;
  bottom: 15px;
  right: 80px;
  z-index: 2;
  cursor: pointer;

  &:hover{
    background-color: rgb(2, 145, 218);
    color: white;
    opacity: 1;
  }
}

.slider-right{
  width: 45px;
  height: 45px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  line-height: 45px;
  font-size: 21px;
  color: rgb(48, 48, 48);
  display: inline-block;
  margin: 0 15px;
  opacity: 0.5;
  position: absolute;
  bottom: 15px;
  right: 15px;
  z-index: 2;
  cursor: pointer;

  &:hover{
    background-color: rgb(2, 145, 218);
    color: white;
    opacity: 1;
  }
}

.page-title{
  color: rgb(2, 145, 218);
  font-size: 24px;
  font-weight: 400;
  line-height: 1.21;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.page-text{
  color: rgb(30, 30, 30);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;

  strong{
    color: rgb(2, 145, 218);
    font-weight: 700;
  }
}

.text-slider{
  position: relative;
}

.md-mb-100{
  margin-bottom: 100px;
}

.md-pt-60{
  padding-top: 60px;
}

.history-box{
  padding-bottom: 80px;
  .title{
    color: rgb(2, 145, 218);
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 90px;
    text-align: center;
  }

  p{
    color: rgb(90, 90, 90);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
  }
}

@import "helper/response";