@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  outline: none; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: ''; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

article, aside, figure, figcaption, footer, header, hgroup, nav, section, summary {
  display: block; }

button, a {
  cursor: pointer; }

a:hover, a:focus, a:focus:active {
  text-decoration: none;
  outline: none; }

input:hover, input:focus, input:focus:active, textarea:hover, textarea:focus, textarea:focus:active, button:hover, button:focus, button:focus:active, button:active:focus {
  outline: none !important; }

img {
  max-width: 100%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  width: 100%;
  height: 100%; }

.content {
  max-width: 1210px;
  margin: 0 auto;
  position: relative;
  padding: 0 20px; }

header {
  padding: 40px 0;
  background-color: white;
  -webkit-box-shadow: 1px 1px 9px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 9px 1px rgba(0, 0, 0, 0.4);
  z-index: 1;
  position: relative; }
  header ul {
    float: right;
    margin-top: 20px; }
    header ul li {
      display: inline-block;
      margin-right: 40px; }
      header ul li:last-child {
        margin-right: 0; }
      header ul li a {
        color: #1e1e1e;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase; }
      header ul li.active a {
        color: #0291da;
        font-weight: 700; }
      header ul li.changeLang {
        color: #0291da;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        cursor: pointer; }
        header ul li.changeLang i {
          font-size: 12px;
          position: relative;
          top: -2px;
          margin-left: 3px; }
        header ul li.changeLang ul.lang {
          position: absolute;
          top: 20px;
          display: none; }
          header ul li.changeLang ul.lang li {
            margin-bottom: 5px;
            color: black;
            font-weight: 400; }
            header ul li.changeLang ul.lang li:hover {
              color: #0291da; }

main {
  position: relative; }

.top-box {
  background: black;
  position: relative; }
  .top-box .item {
    padding-top: 100px;
    padding-bottom: 170px; }
    .top-box .item .content {
      padding-right: 40%; }
      .top-box .item .content > * {
        position: relative;
        z-index: 2; }
    .top-box .item .mini-title {
      color: #f4f5f9;
      font-size: 24px;
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 15px; }
    .top-box .item .title {
      color: #f4f5f9;
      font-size: 72px;
      font-weight: 700;
      margin-bottom: 100px;
      position: relative; }
      .top-box .item .title:after {
        width: 80px;
        height: 1px;
        background: #f1ebe7;
        left: 0;
        bottom: -50px;
        content: '';
        position: absolute; }
    .top-box .item .text {
      color: white;
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 40px;
      line-height: 1.3; }

.btn-main {
  -webkit-box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.25);
  background-color: #0291da;
  color: white;
  font-size: 14px;
  font-weight: 400;
  padding: 15px 70px;
  border: 2px solid transparent; }
  .btn-main:hover {
    background: white;
    color: #0291da;
    border: 2px solid #0291da; }

.content-absolute {
  width: 1210px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -605px;
  padding-top: 300px;
  z-index: 1; }
  .content-absolute .rulles {
    float: right;
    text-align: right; }
    .content-absolute .rulles ul {
      margin-bottom: 30px; }
      .content-absolute .rulles ul li {
        color: white;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        text-align: right; }
        .content-absolute .rulles ul li.active {
          font-weight: 700; }
    .content-absolute .rulles a {
      display: inline-block;
      width: 45px;
      height: 45px;
      background: #727272;
      font-size: 20px;
      color: #303030;
      text-align: center;
      line-height: 45px;
      margin-left: 20px; }
      .content-absolute .rulles a:hover {
        background-color: #0291da;
        color: white; }

.trio {
  height: 136px;
  background: url("../img/trio.png") no-repeat center top/cover;
  width: 100%;
  position: absolute;
  margin-top: -136px; }

.about .title {
  margin-bottom: 35px;
  color: #25365d;
  font-size: 24px;
  font-weight: 700;
  padding: 0 80px; }

.about .text {
  color: #5a5a5a;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.65;
  padding: 0 80px; }
  .about .text ul li {
    padding-left: 20px;
    background: url("../img/bullet.png") no-repeat left 5px; }

.tabs {
  position: relative;
  padding: 50px 0; }
  .tabs:before {
    background-color: #202020;
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }
  .tabs:after {
    background: url("../img/stok.png") no-repeat center center/cover;
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0; }
  .tabs .head {
    margin-bottom: 100px; }
    .tabs .head a {
      color: white;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.61;
      text-transform: uppercase;
      margin-right: 50px; }
      .tabs .head a.active {
        color: #0291da;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.61;
        text-transform: uppercase; }
  .tabs .body {
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5; }
    .tabs .body p {
      margin-bottom: 20px; }

.partner, section.contact {
  padding: 115px 0;
  background-color: #f4f5f9; }
  .partner .title, section.contact .title {
    text-shadow: 0 1px 0 white;
    color: #25365d;
    font-size: 30px;
    font-weight: 700;
    line-height: 0.67;
    text-align: center;
    position: relative;
    margin-bottom: 125px; }
    .partner .title:before, section.contact .title:before {
      width: 80px;
      height: 2px;
      background: #999999;
      content: '';
      position: absolute;
      left: 50%;
      margin-left: -100px;
      bottom: -50px; }
    .partner .title:after, section.contact .title:after {
      width: 80px;
      height: 2px;
      background: #999999;
      content: '';
      position: absolute;
      right: 50%;
      margin-right: -100px;
      bottom: -50px; }
  .partner .items .item, section.contact .items .item {
    width: calc(20% - 24px);
    float: left;
    margin-right: 30px;
    height: 100px;
    -webkit-box-shadow: 0 1px 3px rgba(31, 31, 31, 0.09);
    box-shadow: 0 1px 3px rgba(31, 31, 31, 0.09);
    background-color: white;
    margin-bottom: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center; }
    .partner .items .item:hover, section.contact .items .item:hover {
      -webkit-box-shadow: 0 3px 9px 1px rgba(31, 31, 31, 0.2);
      box-shadow: 0 3px 9px 1px rgba(31, 31, 31, 0.2); }
    .partner .items .item:nth-child(5n+5), section.contact .items .item:nth-child(5n+5) {
      margin-right: 0; }

section.contact {
  background: transparent; }
  section.contact .box-text {
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    background-color: #f4f5f9;
    padding: 60px 90px 90px; }
    section.contact .box-text .name {
      color: #0592da;
      font-size: 24px;
      font-weight: 400;
      margin-bottom: 20px;
      margin-top: 30px; }
    section.contact .box-text .text {
      padding-left: 23px;
      color: #5a5a5a;
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 5px;
      line-height: 1.4; }
      section.contact .box-text .text.icon-marker {
        background: url("../img/marker.png") no-repeat left 5px; }
      section.contact .box-text .text.icon-mobile {
        background: url("../img/call-answer.png") no-repeat left 5px; }
      section.contact .box-text .text.icon-phone {
        background: url("../img/fax.png") no-repeat left 5px; }
  section.contact .box-form {
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    background-color: #f4f5f9;
    padding: 90px; }
    section.contact .box-form form {
      width: 100%; }
      section.contact .box-form form input {
        width: 100%;
        border-bottom: 1px solid rgba(153, 153, 153, 0.25);
        height: 40px;
        margin-bottom: 20px;
        color: #999999;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.71; }
      section.contact .box-form form textarea {
        width: 100%;
        border: 0;
        resize: none;
        background: transparent;
        border-bottom: 1px solid rgba(153, 153, 153, 0.25);
        height: 120px;
        margin-bottom: 20px;
        color: #999999;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.71; }

footer {
  background-color: #202020;
  padding: 50px 0; }
  footer .head {
    color: white;
    font-size: 12px;
    font-weight: 400;
    line-height: 2;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    position: relative;
    margin-bottom: 60px; }
    footer .head:after {
      width: 154px;
      height: 1px;
      background-color: #3b3b3b;
      content: '';
      position: absolute;
      left: 0;
      bottom: -10px; }
  footer .text {
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 40px; }
    footer .text a {
      color: white;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.4;
      display: block; }
      footer .text a:hover {
        color: #0291da; }
    footer .text.big-text {
      margin-top: 85px; }
      footer .text.big-text a {
        color: white;
        font-size: 16px;
        font-weight: 400;
        text-decoration: underline;
        text-transform: uppercase;
        margin-bottom: 20px; }
        footer .text.big-text a:hover {
          color: #0291da; }

main.gray {
  background-color: #f4f5f9; }

.mobile-menu {
  position: absolute;
  top: 10px;
  right: 40px;
  color: #0291da;
  display: none;
  z-index: 5; }
  .mobile-menu.active {
    color: white; }

.news-box {
  padding: 50px 0; }
  .news-box .item {
    width: calc(25% - 24px);
    float: left;
    background-color: #ffffff;
    height: 365px;
    margin-right: 30px;
    text-align: center;
    margin-bottom: 30px;
    position: relative; }
    .news-box .item:nth-child(4n+4) {
      margin-right: 0; }
    .news-box .item .img {
      height: 237px;
      margin-bottom: 10px; }
      .news-box .item .img img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover; }
    .news-box .item .name {
      color: #1e1e1e;
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 10px;
      padding: 0 20px; }
    .news-box .item .intro {
      color: #1e1e1e;
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 10px;
      padding: 0 50px; }
    .news-box .item a {
      color: #0291da;
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 20px; }
    .news-box .item .date {
      width: 70px;
      height: 23px;
      background-color: #0291da;
      position: absolute;
      top: 10px;
      left: 0;
      z-index: 0;
      color: #fffefe;
      font-size: 12px;
      font-weight: 400;
      text-align: center;
      line-height: 23px; }

.pages {
  padding-bottom: 50px; }
  .pages a {
    width: 45px;
    height: 45px;
    background-color: white;
    text-align: center;
    line-height: 45px;
    font-size: 21px;
    color: #303030;
    display: inline-block;
    margin: 0 15px; }
    .pages a:hover {
      background-color: #0291da;
      color: white; }

.slider-left {
  width: 45px;
  height: 45px;
  background-color: white;
  text-align: center;
  line-height: 45px;
  font-size: 21px;
  color: #303030;
  display: inline-block;
  margin: 0 15px;
  opacity: 0.5;
  position: absolute;
  bottom: 15px;
  right: 80px;
  z-index: 2;
  cursor: pointer; }
  .slider-left:hover {
    background-color: #0291da;
    color: white;
    opacity: 1; }

.slider-right {
  width: 45px;
  height: 45px;
  background-color: white;
  text-align: center;
  line-height: 45px;
  font-size: 21px;
  color: #303030;
  display: inline-block;
  margin: 0 15px;
  opacity: 0.5;
  position: absolute;
  bottom: 15px;
  right: 15px;
  z-index: 2;
  cursor: pointer; }
  .slider-right:hover {
    background-color: #0291da;
    color: white;
    opacity: 1; }

.page-title {
  color: #0291da;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.21;
  text-transform: uppercase;
  margin-bottom: 30px; }

.page-text {
  color: #1e1e1e;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5; }
  .page-text strong {
    color: #0291da;
    font-weight: 700; }

.text-slider {
  position: relative; }

.md-mb-100 {
  margin-bottom: 100px; }

.md-pt-60 {
  padding-top: 60px; }

.history-box {
  padding-bottom: 80px; }
  .history-box .title {
    color: #0291da;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 90px;
    text-align: center; }
  .history-box p {
    color: #5a5a5a;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5; }

@media (max-width: 1280px) {
  .content-absolute {
    width: 100%;
    left: 0;
    margin-left: 0;
    padding-right: 20px; }
  .tabs .head a {
    margin-right: 30px; } }

@media (max-width: 1130px) {
  .tabs .head a {
    font-size: 16px; }
  .tabs .body {
    font-size: 16px; }
  .news-box .item {
    width: calc(100%/3 - 20px); }
    .news-box .item:nth-child(4n+4) {
      margin-right: 30px; }
    .news-box .item:nth-child(3n+3) {
      margin-right: 0; } }

@media (max-width: 992px) {
  header {
    padding: 20px 0; }
    header ul {
      position: fixed;
      width: 250px;
      top: -20px;
      left: -250px;
      background: white;
      height: 100%;
      z-index: 5;
      padding: 30px;
      -webkit-transition: linear 0.3s;
      -moz-transition: linear 0.3s;
      -ms-transition: linear 0.3s;
      -o-transition: linear 0.3s;
      transition: linear 0.3s; }
      header ul:after {
        position: fixed;
        top: 0;
        width: 100%;
        bottom: 0;
        left: 250px;
        background: rgba(0, 0, 0, 0.5);
        content: '';
        display: none;
        -webkit-transition: linear 0.3s;
        -moz-transition: linear 0.3s;
        -ms-transition: linear 0.3s;
        -o-transition: linear 0.3s;
        transition: linear 0.3s;
        display: none; }
      header ul li {
        display: block;
        float: none;
        margin-bottom: 20px; }
      header ul.open {
        left: 0; }
        header ul.open:after {
          display: block; }
  .mobile-menu {
    display: block; }
  .content-absolute {
    display: none; }
  .top-box .item .content {
    padding-right: 20px; }
  .trio {
    display: none; }
  .top-box {
    margin-bottom: 30px; }
  .about .title, .about .text {
    padding: 0 20px; }
  .news-box .item {
    width: calc(100%/2 - 15px); }
    .news-box .item:nth-child(4n+4) {
      margin-right: 30px; }
    .news-box .item:nth-child(3n+3) {
      margin-right: 30px; }
    .news-box .item:nth-child(2n+2) {
      margin-right: 0; }
  .page-title {
    font-size: 20px; }
  .page-text {
    font-size: 16px; }
  .history-box .title {
    font-size: 22px;
    margin-bottom: 30px; }
  .history-box p {
    font-size: 16px; } }

@media (max-width: 767px) {
  .about img {
    display: none; }
  .about .text {
    margin-bottom: 30px; }
  .tabs:before {
    width: 100%; }
  .tabs:after {
    display: none; }
  .partner .items .item, section.contact .items .item {
    width: calc(33% - (90px/4)); }
    .partner .items .item:nth-child(3n+3), section.contact .items .item:nth-child(3n+3) {
      margin-right: 0; }
    .partner .items .item:nth-child(5n+5), section.contact .items .item:nth-child(5n+5) {
      margin-right: 30px; }
  .page-text {
    margin-bottom: 20px; }
  .text-slider {
    margin-bottom: 20px; }
  .md-mb-100 {
    margin-bottom: 20px; } }

@media (max-width: 590px) {
  .tabs .head a {
    margin-bottom: 10px;
    display: inline-block; }
  .tabs .head {
    margin-bottom: 20px; }
  .partner .items .item, section.contact .items .item {
    width: calc(50% - 15px); }
    .partner .items .item:nth-child(3n+3), section.contact .items .item:nth-child(3n+3) {
      margin-right: 30px; }
    .partner .items .item:nth-child(even), section.contact .items .item:nth-child(even) {
      margin-right: 0; }
  .news-box .item {
    width: 100%; }
    .news-box .item:nth-child(4n+4) {
      margin-right: 30px; }
    .news-box .item:nth-child(3n+3) {
      margin-right: 30px; }
    .news-box .item:nth-child(2n+2) {
      margin-right: 0; } }

@media (max-width: 480px) {
  .mobile-menu {
    right: 20px; }
  .top-box .item .mini-title {
    font-size: 20px; }
  .top-box .item .title {
    font-size: 44px; }
  .top-box .item {
    padding: 30px 0; }
  .partner .items .item, section.contact .items .item {
    width: 100%;
    margin-right: 0; }
  section.contact .box-text {
    padding: 20px; }
  section.contact .box-form {
    padding: 20px; } }
