@media (max-width: 1280px) {
  .content-absolute{
    width: 100%;
    left: 0;
    margin-left: 0;
    padding-right: 20px;
  }

  .tabs .head a{
    margin-right: 30px;
  }
}

@media (max-width: 1130px) {
  .tabs .head a{
    font-size: 16px;
  }

  .tabs .body{
    font-size: 16px;
  }

  .news-box .item{
    width: calc(100%/3 - 20px);

    &:nth-child(4n+4){
      margin-right: 30px;
    }

    &:nth-child(3n+3){
      margin-right: 0;
    }
  }
}

@media (max-width: 992px) {
  header{
    padding: 20px 0;
    ul{
      position: fixed;
      width: 250px;
      top: -20px;
      left: -250px;
      background: white;
      height: 100%;
      z-index: 5;
      padding: 30px;
      -webkit-transition: linear 0.3s;
      -moz-transition: linear 0.3s;
      -ms-transition: linear 0.3s;
      -o-transition: linear 0.3s;
      transition: linear 0.3s;

      &:after{
        position: fixed;
        top: 0;
        width: 100%;
        bottom: 0;
        left: 250px;
        background: rgba(0, 0, 0, .5);
        content: '';
        display: none;
        -webkit-transition: linear 0.3s;
        -moz-transition: linear 0.3s;
        -ms-transition: linear 0.3s;
        -o-transition: linear 0.3s;
        transition: linear 0.3s;
        display: none;
      }

      li{
        display: block;
        float: none;
        margin-bottom: 20px;
      }

      &.open{
        left: 0;

        &:after{
          display: block;
        }
      }
    }
  }

  .mobile-menu{
    display: block;
  }

  .content-absolute{
    display: none;
  }

  .top-box .item .content{
    padding-right: 20px;
  }

  .trio{
    display: none;
  }

  .top-box{
    margin-bottom: 30px;
  }

  .about .title, .about .text{
    padding: 0 20px;
  }

  .news-box .item{
    width: calc(100%/2 - 15px);

    &:nth-child(4n+4){
      margin-right: 30px;
    }

    &:nth-child(3n+3){
      margin-right: 30px;
    }

    &:nth-child(2n+2){
      margin-right: 0;
    }
  }

  .page-title{
    font-size: 20px;
  }

  .page-text{
    font-size: 16px;
  }

  .history-box .title{
    font-size: 22px;
    margin-bottom: 30px;
  }

  .history-box p{
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .about{
    img{
      display: none;
    }
  }

  .about .text{
    margin-bottom: 30px;
  }

  .tabs:before{
    width: 100%;
  }

  .tabs:after{
    display: none;
  }

  .partner .items .item{
    width: calc(33% - (90px/4));

    &:nth-child(3n+3){
      margin-right: 0;
    }

    &:nth-child(5n+5){
      margin-right: 30px;
    }
  }

  .page-text{
    margin-bottom: 20px;
  }

  .text-slider{
    margin-bottom: 20px;
  }

  .md-mb-100{
    margin-bottom: 20px;
  }
}

@media (max-width: 590px) {
  .tabs .head a{
    margin-bottom: 10px;
    display: inline-block;
  }

  .tabs .head{
    margin-bottom: 20px;
  }

  .partner .items .item{
    width: calc(50% - 15px);

    &:nth-child(3n+3){
      margin-right: 30px;
    }

    &:nth-child(even){
      margin-right: 0;
    }
  }

  .news-box .item{
    width: 100%;

    &:nth-child(4n+4){
      margin-right: 30px;
    }

    &:nth-child(3n+3){
      margin-right: 30px;
    }

    &:nth-child(2n+2){
      margin-right: 0;
    }
  }
}

@media (max-width: 480px) {
  .mobile-menu{
    right: 20px;
  }

  .top-box .item .mini-title{
    font-size: 20px;
  }

  .top-box .item .title{
    font-size: 44px;
  }

  .top-box .item{
    padding: 30px 0;
  }

  .partner .items .item{
    width: 100%;
    margin-right: 0;
  }

  section.contact .box-text{
    padding: 20px;
  }

  section.contact .box-form{
    padding: 20px;
  }
}