@font-face {
  font-family: 'icomoon';
  src: url("../../fonts/iconmon/icomoon.eot?rvy5kl");
  src: url("../../fonts/iconmon/icomoon.eot?rvy5kl#iefix") format("embedded-opentype"), url("../../fonts/iconmon/icomoon.ttf?rvy5kl") format("truetype"), url("../../fonts/iconmon/icomoon.woff?rvy5kl") format("woff"), url("../../fonts/iconmon/icomoon.svg?rvy5kl#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-bank:before {
  content: "\e900"; }

.icon-invoice:before {
  content: "\e901"; }

.icon-profits:before {
  content: "\e902"; }

.icon-safebox:before {
  content: "\e903"; }
